*, *::before, *::after {
    box-sizing: border-box;
}
  

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: #222C2A;
}

img {
    margin: 0;
    display: block;
    max-width: 100%;
}

.font-style-1 {
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.125rem;
    color: #222C2A;
    margin: 0 0 .25em;
}

.font-style-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    color: #824936;
    line-height: 1.1;
}

.font-style-3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 36px;
    margin-top: 0;
    color: #824936;
}

.font-style-6 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2.25rem;
    margin-top: 0;
    color: #F3EED9;
}

section {
    padding: 4em 0;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
    width: 85%;
}

.section-1 {
    min-height: 660px;
    display: flex;
    align-items: center;
    background-color: #F3EED9;
    text-align: center;
}

.section-1, p, h1 {
    margin: 0;
}

.section-2 {
    background-color: white;
}

.section-3 {
    background-color: #222C2A;
    color: white;
}

.section-4 {
    background-color: #824936;
    color: white;
}


.row {
    display: flex;
    justify-content: space-between;

}

.col {
    width: 100%;
    flex-direction: column;
}

.col + .col {
    margin-left: 30px;
}

@media (min-width: 800px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 5em;
    }

    .font-style-2 {
        font-size: 3.75rem;
    }
}