*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;

}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3125rem;
    line-height: 1.6;
    font-family: 'Montserrat';
    background-color: white;
    color: #222C2A;
}

h1, h2{
    line-height: 1.4;
    margin-bottom: 0.75em;

}

.accent-text {
    color: #A59678;
}

.section-2-heading {
    color: #A59678;
    font-family: 'Oswald';
    font-size: 30px;
}

.section-3-heading {
    color: #A59678;
    font-family: 'Oswald';
    font-size: 36px;
}

header {
    background-color: #2E323F;
    padding: 1em 0;
    text-align: center;
}

section {
    padding: 4em 0em;
}

.section-1 {
    background-color: #3B4050;
    color: #fff;
    padding: 4em 0;
}

.section-1 h1 {
    font-family: 'Oswald';
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

.section-1 p {
    font-family: 'Montserrat';
    font-size: 24px;
}

.section-2 {
    background-color: #eeeeee;
    text-align: center;
}

.section-2 p {
    font-size: 18px;
}

.section-3 {
    background-color: #fff;
}

.section-4 {
    background-color: #3B4050;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.section-4 h2 {
    font-family: 'Oswald';
    font-size: 21px;
    color: #A59678;
    padding-top: 20px;
}

.section-4 h1 {
    font-family: 'Oswald';
    font-weight: 900;
    text-align: center;
    font-size: 3em;
    line-height: 1.2;
}

.sidebar {
    text-align: center;
    background-color: #3B4050;
    color: #fff;
    padding: 2em;
    margin-top: 2em;
    font-size: 18px;
}

.sidebar h2 {
    font-family: 'Oswald';
    font-size: 30px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

nav {
    text-align: center;
    width: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-item {
    margin-right: 1em;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 18px
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.--primary-content {
    padding-top: 1em;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 24px;
    display: inline-block;
    background-color: #A59678;
    border-radius: 2em;
    padding: 6px 32px;
}

.btn-signup {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    background-color: #A59678;
    border-radius: 2em;
    padding: 4px 16px;
}

.text {
    padding-bottom: 1em;
}

.col {
    padding-bottom: 3em;
}

.logo {
    height: 30px;
}

.logo-img {
    margin-top: 0em;
    margin-bottom: 0em;
}

@media (min-width: 700px) {

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        align-items: center;
        position: relative;
        justify-content: end;
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    .col {
        padding-bottom: 3em;
    }

    .col + .col {
        margin-left: 2em;
    }

    .nav-list {
        display: flex;
        margin: 0;
     }
 
     .nav-item {
         margin: 0 0 0 1.20em;
     }

     .primary-content {
        width: 62%;
    }

    .--primary-content {
        padding-top: 0em;
        padding-left: 1em;
    }

    .logo {
        max-width: 40%;
        display: inline-block;
        text-align: left;
        padding-left: 1em;
    }

    .logo-img {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .sidebar-primary {
        display: flex;
        gap: 3em;
    }


}

@media (min-width: 1000px) {
    .row-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .row-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3em;
    }

    .col {
        padding-bottom: 0
    }

    .section-1 h1 {
        font-family: 'Oswald';
        font-size: 90px;
        margin-top: 0;
        line-height: 1.2;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    .col-footer {
        max-width: 40%;
    }

    .footer {
        text-align: left;
    }
    
    .left-col {
        max-width: 60%;
    }

    .sidebar-primary {
        flex-direction: column;
        max-width: 40%;
    }

    .row-section-3 {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

}